.user-card__wrapper {
  max-width: 730px;
  padding-right: 14px;
  margin: 0 auto;
  margin-bottom: 120px;
}

@media only screen and (max-width: 768px) {
  .user-card__wrapper {
    position: relative;
    max-width: 580px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__wrapper {
    max-width: 327px;
    padding-right: 0;
  }
}

.user-card__box {
  display: flex;
  padding: 46px 47px 40px;
  background-color: #fefefe;
  border-radius: 8px;
  transition: 350ms ease-in-out;
  -webkit-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);

  &.dark {
    background-color: #1e2a47;
  }
}

@media only screen and (max-width: 768px) {
  .user-card__box {
    padding: 36px 38px 29px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__box {
    padding: 32px 24px 37px;
  }
}

.user-card__img-box {
  margin-right: 35px;
  border-radius: 100%;

  & > img {
    max-width: 177px;
    max-height: 117px;
  }
}

@media only screen and (max-width: 768px) {
  .user-card__img-box {
    position: absolute;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__img-box {
    & > img {
      max-width: 70px;
    }
  }
}

.user-card__info-box {
  display: flex;
  flex-direction: column;
}

/* @media only screen and (max-width: 375px) {} */

.user-card__base-info-box {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .user-card__base-info-box {
    margin-left: 154px;
    margin-top: 16px;
    flex-wrap: nowrap;
    flex-direction: column;

    &.row {
      width: fit-content;
    }
  }
}

@media only screen and (max-width: 375px) {
  .user-card__base-info-box {
    margin-top: 4px;
    margin-left: 88px;
  }
}

.user-card__name {
  font-size: 24px;
  margin-top: -2px;
  letter-spacing: 0.9px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .user-card__name {
    order: 0;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__name {
    font-size: 15px;
    width: fit-content;
  }
}

.user-card__join-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  color: #697c9a;
  letter-spacing: -0.2px;
  margin-left: -27px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .user-card__join-date {
    order: 2;
    margin-top: 2px;
    margin-left: -11px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__join-date {
    margin-left: 0;
    font-size: 14px;
    letter-spacing: -0.5px;
  }
}

.user-card__username {
  color: #0079ff;
  font-size: 16px;
  text-decoration: none;
  text-align: start;
  margin-top: 3px;
  letter-spacing: -0.2px;

  &:visited {
    color: #0079ff;
  }
}

@media only screen and (max-width: 768px) {
  .user-card__username {
    order: 1;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__username {
    font-size: 14px;
    margin-top: 0;
  }
}

.user-card__description-box {
  margin-top: 20px;
  transition: 350ms ease-in-out;
}

@media only screen and (max-width: 375px) {
  .user-card__description-box {
    max-width: 288px;
  }
}

.user-card__description {
  font-size: 15px;
  color: #4b6a9b;
  letter-spacing: -0.2px;
  line-height: 24px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .user-card__description {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__description {
    max-width: 307px;
    margin-top: 14px;
    font-size: 14px;
    letter-spacing: -0.6px;
    line-height: 25px;
  }
}

.user-card__file-info-box {
  display: flex;
  width: 470px;
  height: 85px;
  background-color: #f6f8ff;
  margin-top: 31px;
  padding: 14px 30px;
  transition: 350ms ease-in-out;
  border-radius: 8px;

  &.dark {
    background-color: #141d2f;
  }
}

@media only screen and (max-width: 768px) {
  .user-card__file-info-box {
    width: 479px;
    margin-top: 33px;
    padding: 14px 44px 14px 30px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__file-info-box {
    width: 280px;
    margin-top: 25px;
    padding: 16px 27px;
    gap: 24px;
  }
}

.user-card__user-info-box {
  width: 33%;

  &:last-of-type {
    padding-left: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__user-info-box {
    display: flex;
    flex-direction: column;
    width: 25%;

    &:last-of-type {
      padding-left: 0;
    }
  }
}

.user-card__info-heading {
  font-size: 13px;
  color: #4b6a9b;
  font-weight: 100;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__info-heading {
    font-size: 12px;
    text-align: center;
  }
}

.user-card__info-number {
  font-size: 22px;
  color: #2b3442;
  font-weight: bold;
  padding: 1px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__info-number {
    font-size: 19px;
    margin-top: 5px;
    margin-left: 3px;
    text-align: center;
  }
}

.user-card__user-links-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
  margin-top: 35px;
  margin-left: -3px;
}

@media only screen and (max-width: 768px) {
  .user-card__user-links-box {
    margin-top: 28px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__user-links-box {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 21px;
    max-width: 288px;
  }
}

.user-card__link-box {
  display: flex;
  height: 35px;
  width: 46%;

  &:nth-of-type(even) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__link-box {
    width: fit-content;
  }

  .user-card__link-box--location {
    order: 0;
  }

  .user-card__link-box--twitter {
    order: 2;
  }

  .user-card__link-box--github-url {
    order: 1;
  }

  .user-card__link-box--github-username {
    order: 3;
  }
}

.user-card__link-icon {
  font-size: 20px;
  width: 20px;
  margin-right: 15px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }

  /* &.not-available {
    color: #ffffff4f;
  } */
}

.user-card__link-icon--office {
  font-size: 28px;
}

.user-card__link-icon--link {
  font-size: 28px;
  margin-top: 2px;
  margin-left: 2px;
}

.user-card__link-text {
  font-size: 15px;
  color: #4b6a9b;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }

  /* &.not-available {
    color: #ffffff4f;
  } */
}

@media only screen and (max-width: 768px) {
  .user-card__link-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__link-text {
    font-size: 13px;
  }
}

.user-card__link-text--github-url {
  text-decoration: none;
  transition: 350ms ease-in-out;
  line-height: 33px;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 375px) {
  .user-card__link-text--github-url {
    line-height: 24px;
  }
}

.user-card__link-text--github-username {
  text-decoration: none;
  transition: 350ms ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}
