.input-section {
  max-width: 730px;
  margin: 35px auto 25px;
  padding-right: 15px;
}

.input-section__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 66px;
  background-color: #fefefe;
  padding: 9px;
  border-radius: 8px;
  transition: 350ms ease-in-out;
  -webkit-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);

  &.dark {
    background-color: #1e2a47;
  }
}

.input-section__input-box {
  display: flex;
  width: 84%;
}

.input-section__search-icon {
  font-size: 28px;
  color: #0079ff;
  margin: 10px 21px;
}

.input-section__search-bar {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  letter-spacing: -0.2px;
  transition: 350ms ease-in-out;

  &::placeholder {
    color: #4b6a9b;
  }

  &.dark {
    background-color: #1e2a47;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }
}

.input-section__btn {
  width: 104px;
  height: 49px;
  border: none;
  border-radius: 8px;
  background-color: #0079ff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: 350ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #60abff;
  }
}

.input-section__modal {
  position: absolute;
  top: 7px;
  right: 20%;
  display: flex;
  width: 15%;
  height: 50px;
  align-items: center;
  padding-left: 9px;
  font-weight: 700;
}

.input-section__modal-content {
  font-size: 15px;
  color: #f74646;
}

@media only screen and (min-width: 611px) and (max-width: 1200px) {
  .input-section {
    max-width: 580px;
    padding-right: 24px;
  }

  .input-section__search-bar {
    font-size: 17px;
    letter-spacing: 0.2px;
  }
}

@media only screen and (max-width: 610px) {
  .input-section {
    max-width: 327px;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .input-section__form {
    height: 63px;
  }

  .input-section__input-box {
    width: 69%;
  }

  .input-section__search-icon {
    margin: 10px 5px;
    font-size: 25px;
  }

  .input-section__search-bar {
    font-size: 13px;
  }

  .input-section__btn {
    width: 82px;
    height: 46px;
    font-size: 13px;
  }
}
