.single-repo-page {
  padding-right: 9px;
  height: 412px;
}

.single-repo-page__wrapper {
  max-width: 730px;
  width: 100%;
  margin: 20px auto 80px;
  display: flex;
  padding: 46px 47px 40px;
  background-color: #fefefe;
  border-radius: 15px;
  transition: 350ms ease-in-out;
  -webkit-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);

  &.dark {
    background-color: #1e2a47;
  }
}

.single-repo-page__img-box {
  margin-right: 35px;

  & > img {
    border-radius: 100%;
    max-width: 117px;
    max-height: 117px;
  }
}

.single-repo-page__repo-data-box {
  display: flex;
  flex-direction: column;
  width: 77%;
}

.single-repo-page__repo-info-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.single-repo-page__repo-heading {
  font-size: 24px;
  max-width: 150px;
  margin-top: -2px;
  letter-spacing: 0.9px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

.single-repo-page__repo-date {
  font-size: 15px;
  color: #697c9a;
  letter-spacing: -0.2px;
  margin-left: -27px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

.single-repo-page__repo-url-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  & > .clipboard-notification {
    top: 1px;
    left: 120px;
  }
}

.single-repo-page__repo-clone-url {
  color: #0079ff;
  text-decoration: none;
  transition: 350ms ease-in-out;

  &:hover {
    color: #4b6a9b;
    cursor: pointer;
  }
}

.single-repo-page__repo-open-url {
  color: #4b6a9b;
  text-decoration: none;
  transition: 350ms ease-in-out;

  &:hover {
    color: #0079ff;
    cursor: pointer;
  }
}

.single-repo-page__description-box {
  width: 100%;
  min-height: 130px;
  max-height: 200px;
  border-radius: 8px;
  background-color: #f6f8ff;
  padding: 15px;
  margin-bottom: 40px;
  transition: 350ms ease-in-out;
  overflow: auto;

  &.dark {
    background-color: #141d2f;
  }
}

.single-repo-page__description-box::-webkit-scrollbar {
  width: 10px;
}

.single-repo-page__description-box::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #f6f8ff;
}

.single-repo-page__description-box.dark::-webkit-scrollbar-track {
  background-color: #141d2f;
}

.single-repo-page__description-box::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #90a4d4;
}

.single-repo-page__description-box.dark::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.single-repo-page__description-text {
  font-size: 16px;
  color: #4b6a9b;
}

.single-repo-page__return-btn {
  align-self: center;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #0079ff;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 350ms ease-in-out;

  &:hover {
    background-color: #4b6a9b;
    cursor: pointer;
  }
}

@media only screen and (min-width: 611px) and (max-width: 1200px) {
  .single-repo-page__wrapper {
    max-width: 580px;
  }
}

@media only screen and (max-width: 610px) {
  .single-repo-page__wrapper {
    position: relative;
    max-width: 327px;
    padding: 26px 17px 20px;
  }

  .single-repo-page__img-box {
    position: absolute;
    top: 26px;
    left: 17px;

    & > img {
      max-width: 80px;
    }
  }

  .single-repo-page__repo-data-box {
    width: 100%;
  }

  .single-repo-page__repo-info-box {
    flex-direction: column;
    margin-left: 85px;
  }

  .single-repo-page__repo-heading {
    font-size: 20px;
  }

  .single-repo-page__repo-date {
    margin-left: 0;
    font-size: 14px;
  }

  .single-repo-page__repo-url-box {
    margin: 10px 0;
    padding: 15px;
  }

  .single-repo-page__repo-clone-url {
    font-size: 14px;
  }

  .single-repo-page__repo-open-url {
    font-size: 14px;
    text-align: end;
  }

  .single-repo-page__description-text {
    font-size: 14px;
  }

  .single-repo-page__return-btn {
    font-size: 15px;
    width: 150px;
    letter-spacing: normal;
  }
}
