header {
  max-width: 730px;
  margin: 141px auto 20px;
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.header__app-heading {
  font-size: 26px;
}

.header__theme-toggle-btn {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 88px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 8px;
  padding-right: 12px;
  color: #697c9a;
  transition: 350ms ease-in-out;

  &:hover {
    cursor: pointer;
    color: #222731;
  }
}

.header__btn-icon {
  font-size: 24px;
  color: #697c9a;
  transition: 350ms ease-in-out;

  .header__theme-toggle-btn:hover > & {
    color: #222731;
  }
}

/*-----------------------------------------
## input Section
-------------------------------------------*/

.input-section {
  max-width: 730px;
  margin: 35px auto 25px;
  padding-right: 15px;
}

.input-section__form {
  display: flex;
  justify-content: space-between;
  height: 66px;
  background-color: #fefefe;
  padding: 9px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 36px -21px rgba(0, 0, 0, 0.5);
}

.input-section__input-box {
  display: flex;
  width: 65%;
}

.input-section__search-icon {
  font-size: 28px;
  color: #0079ff;
  margin: 10px 21px;
}

.input-section__search-bar {
  width: 85%;
  border: none;
  outline: none;
  font-size: 18px;
  letter-spacing: -0.2px;
}

.input-section__btn {
  width: 104px;
  height: 49px;
  border: none;
  border-radius: 8px;
  background-color: #0079ff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: 350ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #60abff;
  }
}

.input-section__modal {
  position: relative;
  display: flex;
  width: 15%;
  height: 50px;
  align-items: center;
  padding-left: 9px;
}

.input-section__modal-content {
  font-size: 15px;
  color: #f74646;
}
