.home-page-top {
  max-width: 730px;
  margin: 141px auto 20px;
}

.home-page-top__box {
  display: flex;
  justify-content: space-between;
}

.home-page-top__app-heading {
  font-size: 26px;
  transition: 350ms ease-in-out;

  &.dark {
    color: #fff;
  }
}

.home-page-top__theme-toggle-btn {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 88px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 8px;
  padding-right: 12px;
  color: #697c9a;
  transition: 350ms ease-in-out;

  &:hover {
    cursor: pointer;
    color: #222731;
  }

  &.dark {
    color: #fff;

    &:hover {
      color: #90a4d4;
    }
  }
}

.home-page-top__btn-icon {
  font-size: 24px;
  color: #697c9a;
  transition: 350ms ease-in-out;

  .home-page-top__theme-toggle-btn:hover > & {
    color: #222731;
  }

  &.dark {
    color: #fff;

    .home-page-top__theme-toggle-btn.dark:hover > & {
      color: #90a4d4;
    }
  }
}

@media only screen and (min-width: 611px) and (max-width: 1200px) {
  .home-page-top {
    max-width: 580px;
    margin: 136px auto 20px;
  }

  .home-page-top__app-heading {
    font-size: 25px;
  }

  .home-page-top__theme-toggle-btn {
    margin-right: 12px;
    margin-top: 6px;
  }
}

@media only screen and (max-width: 610px) {
  .home-page-top {
    max-width: 327px;
    margin: 30px auto;
  }

  .home-page-top__theme-toggle-btn {
    padding-right: 0;
    width: 75px;
  }
}
